section.just-in {

    margin-top: 15rem;
    text-align: center;

    & h2.just-in-heading {
        text-transform: uppercase;
        color: $color-text-headings;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin: 2rem;
    }

    & div.just-in-container {

        display: flex;
        flex-direction: row;
        // overflow: hidden;
        // overflow-y: hidden;
        min-height: 30rem;
        padding: 0 2rem;
        min-width: 270px;


        & div.just-in-item {
            margin: 1rem;
            border: 1px solid #eee;
            min-width: 250px;
            height: 100%;
            padding: 2rem 1rem;


            &:hover {
                box-shadow: 2px 2px 10px rgba(58, 56, 56, 0.171);

                & div.item-img {
                    transform: scale(1.05);
                }
            }

            & div.item-img {
                height: 25rem;
                overflow: hidden;
                position: relative;

                & img {
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    position: absolute;
                    left: 0;
                    top: -4rem;
                }
            }

            & div.item-description {
                display: flex;
                margin-top: 1.5rem;
                justify-content: space-between;
                color: $color-text-content;
                font-weight: 300;

                & p.item-title {
                    color: black;
                    text-transform: uppercase;
                }
            }

        }
    }
}


section.just-in {
    & div.just-in-nav {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -20rem;

        & div.arrow {
            padding: 0 1rem;
            z-index: 9999;

        }
    }
}


@media only screen and (max-width:1100px) {
 section.just-in {
     & div.just-in-container {

         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
     }
 }


 section.just-in {
     & div.just-in-nav {
         display: none;
           & div.arrow {
            display: none;
            height: 0px;

           }
     }
 }
}