section.just-in {

    margin-top: 15rem;
    text-align: center;

    & h2.just-in-heading {
        text-transform: uppercase;
        color: $color-text-headings;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin: 2rem;
    }

    & div.just-in-container {

        display: flex;
        flex-direction: row;
        overflow: hidden;
        overflow-y: hidden;
        min-height: 30rem;
        padding: 0 2rem;

        & div.just-in-item {
            margin: 1rem;
            & div.item-img{
                width:200px;
                height: auto;
                & img {
                    width: 100%;
                }
            }
            & div.item-description {
                display: flex;
                margin: .8rem 0;
                justify-content: space-between;
                color: $color-text-content;
                font-weight: 300;
            }

        }
    }

}

