* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 2400px) {
  body {
    width: 60%;
    margin: 0 auto;
  }
}

section {
  height: 100%;
  margin-top: 15rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.header {
  margin-top: 0;
}

div.grid-container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  grid-gap: 5px;
}

div.logo-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 21;
  grid-area: 1 / 1 / 1 / 22;
  z-index: 100;
  max-height: 6rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

div.logo-container .logo-text {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1rem;
  background: black;
  height: 100%;
  padding: 10px;
  padding-top: 2rem;
}

div.logo-container nav.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

div.logo-container nav.nav ul a {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  margin-right: 3rem;
}

div.logo-container nav.nav ul a span.cart-items {
  font-size: 0.8rem;
  margin-left: -0.8rem;
  position: relative;
  top: -75%;
  color: white;
  background: red;
  padding: 3px 5px;
  border-radius: 60%;
}

div.fixed-navbar {
  position: fixed;
  background-color: black;
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
  color: white;
  width: 100%;
  z-index: 300;
}

div.fixed-navbar p.logo-text {
  padding-top: 1rem;
}

div.fixed-navbar nav.nav ul li a {
  color: white;
}

@media only screen and (min-width: 2400px) {
  div.fixed-navbar {
    width: 60%;
  }
}

div.social-links-container {
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: 5 / 1 / 9 / 1;
  background-color: black;
  max-width: rem;
  color: white;
}

div.social-links-container ul.social-links {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -5px;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 90%;
}

div.social-links-container ul.social-links li {
  list-style: none;
}

div.social-links-container ul.social-links li a.social-link {
  color: white;
  text-decoration: none;
}

div.img-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-area: 3 / 4 / 12 / 11;
  z-index: 100;
  background-image: url("/imgs/standing-woman-wearing-orange-button-collared-top-near-red-1852382.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  outline: 2rem solid rgba(63, 62, 62, 0.534);
  outline-offset: 2rem;
}

div.right-side {
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  -ms-grid-column: 10;
  -ms-grid-column-span: 12;
  grid-area: 1 / 10 / 13 / 22;
  background-color: #b96b78;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

div.right-side div.header-text-wrapper {
  width: 65%;
  text-align: center;
  margin-left: 20%;
  color: white;
  line-height: 2.5rem;
}

div.right-side div.header-text-wrapper div.centered-text {
  margin-bottom: 3rem;
}

div.right-side div.header-text-wrapper div.centered-text h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  line-height: 4rem;
}

div.right-side div.header-text-wrapper div.button-wrapper a.cta-buttons {
  text-decoration: none;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  background-color: black;
  padding: 1rem 3rem;
  margin: 4rem 2rem 4rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.right-side div.header-text-wrapper div.button-wrapper a.cta-buttons span {
  display: none;
}

div.right-side div.header-text-wrapper div.button-wrapper a.cta-buttons:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fdfdfd;
  color: black;
}

div.right-side div.header-text-wrapper div.button-wrapper a.cta-buttons:hover span {
  display: contents;
}

@media only screen and (max-width: 1000px) {
  div.right-side div.header-text-wrapper {
    width: 65%;
    text-align: center;
    margin-left: 20%;
    margin-top: 5rem;
    color: white;
    line-height: 2rem;
    font-size: 1.5rem;
  }
  div.right-side div.header-text-wrapper div.centered-text {
    margin-bottom: 1rem;
  }
  div.right-side div.header-text-wrapper div.centered-text h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    line-height: 3rem;
  }
  div.right-side div.header-text-wrapper div.button-wrapper a.cta-buttons {
    padding: 1rem 3rem;
    margin: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  div.img-container {
    display: none;
  }
  div.social-links-container {
    z-index: 100;
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 5 / 1 / 9 / 3;
    max-width: 3rem;
  }
  div.social-links-container ul.social-links {
    margin-left: 0;
  }
  div.right-side {
    grid-area: 1 / 1 / -1 / -1;
  }
}

div.style-info-container {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12rem;
  text-align: center;
}

div.style-info-container div.info-section {
  margin: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.style-info-container div.info-section div.style-info-img-container {
  width: 35%;
  max-height: 50rem;
  overflow: hidden;
  text-align: center;
}

div.style-info-container div.info-section div.style-info-img-container img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 450px;
  max-width: 400px;
}

div.style-info-container div.info-section div.style-info-text-container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.style-info-container div.info-section div.style-info-text-container h2.style-info-text-heading {
  color: black;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

div.style-info-container div.info-section div.style-info-text-container p.style-info-text-details {
  margin: 2rem 0rem;
  color: #817b7b;
}

div.style-info-container div.info-section div.style-info-text-container p.style-info-text-details a {
  color: #b96b78;
}

div.style-info-container div.info-section div.style-info-text-container p.style-info-text-details a:hover {
  color: white;
  text-decoration: none;
  background-color: #b96b78;
}

div.style-info-container #info-section-2 {
  margin: 12rem 0;
}

div.style-info-container #info-section-2 #second-section {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

@media only screen and (max-width: 1000px) {
  div.style-info-container {
    width: 70%;
  }
  div.style-info-container div.info-section div.style-info-img-container {
    width: 39%;
  }
}

@media only screen and (max-width: 730px) {
  div.style-info-container {
    width: 85%;
  }
}

@media only screen and (max-width: 560px) {
  section.style-info {
    margin-top: 5rem;
  }
  div.style-info-container div.info-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.style-info-container div.info-section div.style-info-img-container {
    width: 75%;
    margin-bottom: 2rem;
  }
  div.style-info-container div.info-section div.style-info-img-container img {
    max-height: 400px;
  }
  div.style-info-container div.info-section div.style-info-text-container {
    width: 75%;
  }
  div.style-info-container #info-section-2 {
    margin: 5rem 0;
  }
  div.style-info-container #info-section-2 #second-section {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

section.just-in {
  margin-top: 15rem;
  text-align: center;
}

section.just-in h2.just-in-heading {
  text-transform: uppercase;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 2rem;
}

section.just-in div.just-in-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  overflow-y: hidden;
  min-height: 30rem;
  padding: 0 2rem;
}

section.just-in div.just-in-container div.just-in-item {
  margin: 1rem;
}

section.just-in div.just-in-container div.just-in-item div.item-img {
  width: 200px;
  height: auto;
}

section.just-in div.just-in-container div.just-in-item div.item-img img {
  width: 100%;
}

section.just-in div.just-in-container div.just-in-item div.item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .8rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #817b7b;
  font-weight: 300;
}

section.categories {
  min-height: 100%;
}

section.categories h2.categories-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

section.categories div.categories-container {
  margin: 3rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

section.categories div.categories-container div.category-list {
  width: 15%;
}

section.categories div.categories-container div.category-list h4.category-heading {
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 8px;
}

section.categories div.categories-container div.category-list ul {
  margin: 0 auto;
}

section.categories div.categories-container div.category-list ul li {
  list-style: none;
}

section.categories div.categories-container div.category-list ul li a {
  text-decoration: none;
  color: #817b7b;
}

section.categories div.categories-container div.category-list ul li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 610px) {
  section.categories div.categories-container {
    margin: 3rem 0rem;
  }
  section.categories div.categories-container div.category-list {
    width: 22%;
  }
}

@media only screen and (max-width: 460px) {
  section.categories {
    width: 90%;
  }
  section.categories div.categories-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
}

footer {
  margin-top: 10rem;
  background: black;
  padding-top: 5rem;
  height: 100%;
  width: 100%;
  color: #817b7b;
  font-family: 'Montserrat', sans-serif;
}

footer div.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div.footer-container div.company-info {
  width: 25%;
  padding: 1rem;
}

footer div.footer-container div.company-info h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: .5rem;
  font-size: 3rem;
  letter-spacing: 4px;
  color: white;
}

footer div.footer-container div.company-info > p {
  margin-bottom: 5px;
  font-weight: 300;
}

footer div.footer-container div.company-info div.contact-container p {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

footer div.footer-container div.footer-links {
  width: 20%;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div.footer-container div.footer-links li {
  list-style: none;
}

footer div.footer-container div.footer-links li a {
  text-decoration: none;
  color: inherit;
}

footer div.footer-container div.footer-links li a:hover {
  text-decoration: underline;
}

footer div.footer-container div.footer-subscription-box {
  width: 35%;
  padding: 2rem 0rem 4rem;
}

footer div.footer-container div.footer-subscription-box h3 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: .5rem;
  color: white;
}

footer div.footer-container div.footer-subscription-box p {
  margin-bottom: 2rem;
}

footer div.footer-container div.footer-subscription-box div.email-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div.footer-container div.footer-subscription-box div.email-cta input[type="text"] {
  width: 70%;
  border: none;
  padding: 1.5rem 1rem;
}

footer div.footer-container div.footer-subscription-box div.email-cta input[type="text"]:focus {
  outline: none;
}

footer div.footer-container div.footer-subscription-box div.email-cta a.subscribe-cta {
  margin-right: 1rem;
  width: 30%;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem 1rem;
  color: white;
  background-color: #b96b78;
}

footer div.social-links-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
  color: white;
  text-align: center;
}

footer div.social-links-footer div.social-container {
  width: 6vw;
  min-width: 50px;
}

footer div.social-links-footer div.social-container i {
  font-size: 2.5rem;
}

@media only screen and (max-width: 1000px) {
  a.subscribe-cta {
    padding: none;
    font-size: 1.2rem;
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 730px) {
  footer div.footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer div.footer-container div.company-info {
    width: 80%;
  }
  footer div.footer-container div.company-info h3 {
    text-align: center;
  }
  footer div.footer-container div.company-info > p {
    text-align: center;
  }
  footer div.footer-container div.company-info div.contact-container {
    text-align: center;
  }
  footer div.footer-container div.footer-links {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5rem;
  }
  footer div.footer-container div.footer-links #footer-links-1 {
    margin-right: 5rem;
  }
  footer div.footer-container div.footer-subscription-box {
    width: 80%;
    padding: 2rem 0rem 4rem;
  }
  footer div.social-links-footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/*
    STRUCTURE OF FILES:

    two options I have:
    either divide it by sections or divide it by type (like components and layout). i think sections is way more appropriate. 
    use this:
    
    -base 
    -typography
    -variables

    section 1: header
    section 2: style info - picture + text describing stuff
    section 3: just in
    section 4: top picks
    section 5: Subscription section
    section 6: categories
    section 7: footer

*/
/*# sourceMappingURL=main.css.map */